bin
db/development_structure.sql
Gemfile
.bundle
vendor/plugins
vendor/bundler_gems
test
config/database.yml
.DS_Store
doc
log
rerun.txt
data
config/scalpel.yml
\#*\#
public/www*
temp.rb
lib/scrapers
gov*
Gemfile.lock
config/schedule.rb
tmp
git_repo_lock.txt
*-data
public/stylesheets/*.css
