%h1 New submitter

= error_messages_for :submitter

- form_for(:submitter, :url => collection_url) do |f|
  = render :partial => "form", :locals => { :f => f }
  %p= submit_tag "Create"

= link_to 'Back', collection_url