%p.instructions
  Tell us about a:
%div
  = button_to "Birth", new_death_notification_path
  = button_to "Change of address", new_death_notification_path
  = button_to 'Death', new_death_notification_path
%p.instructions
  We'll tell all the Government departments that need to know.
