!!! Strict
%html
  %head
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
  %body
    #page
      #header
        %h1 DirectGov
        %h2
          =link_to 'Tell Us Once', root_path
          %span.again (again)
      #content
        = @content_for_layout
      #footer
        %p.license
